@model Candor.Models.RatingDetail

@{
	ViewBag.Title = "Delete";
}


<h3 class="text-center my-5">Are you sure you want to delete your Rating?</h3>
<div>
	@Html.HiddenFor(model => model.IdeaId)

	<hr />
	<dl class="dl-horizontal text-center">

		<dt>
			@Html.DisplayNameFor(model => model.RatingScore)
		</dt>

		<dd class="text-white">
			@Html.DisplayFor(model => model.RatingScore)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Comment)
		</dt>

		<dd class="text-white">
			@Html.DisplayFor(model => model.Comment)
		</dd>

	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-actions no-color text-center">

			@if (Model.IsEditable)
			{
				<input type="submit" value="Delete" class="btn btn-danger" />
			}


			@Html.ActionLink("Back to this Idea", "Detail", "Idea", new { id = "Model.IdeaId" }, htmlAttributes: new { @class = "btn btn-primary btn-small" })
			@Html.ActionLink("Back to all Ideas", "Index", "Idea", new { id = "Model.IdeaId" }, htmlAttributes: new { @class = "btn btn-info btn-small" })
		</div>
	}
</div>
