@model IEnumerable<Candor.Models.IdeaListItem>

@{
	ViewBag.Title = "Index";
}

<h2>Ideas</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Title)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.DateCreated)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.AverageRating)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Completed)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DateCreated)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.AverageRating)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Completed)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.IdeaId }) |
				@Html.ActionLink("Details", "Details", new { id = item.IdeaId }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.IdeaId })
			</td>
		</tr>
	}
</table>

@section scripts {
	<script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $("i[data-toggle='star']")
                .css({ "cursor": "pointer" })
                .click(function (e) {
                    var target = $(e.target);
                    var noteId = target.attr("data-id");
                    var starSet = target.hasClass("glyphicon-star");

                    $.ajax({
                        method: starSet ? "DELETE" : "PUT",
                        url: "/api/note/" + noteId + "/star",
                        data: null
                    })
                        .done(function (r) {
                            target.removeClass();
                            target.addClass("glyphicon " + (starSet ? "glyphicon-star-empty" : "glyphicon-star"));
                        })
                        .fail(function (r) {
                            alert("Failed to change star status");
                        });
                });
        });
	</script>
}
